* {
    touch-action: manipulation;
}
.logo {
    font-family: 'Comforter Brush', cursive;
    font-size: 5rem;
    margin-bottom: -15px;
}
header small {
    font-size: 1rem;
}
header, .canvasContainer {
    text-align: center;
}
header {
    padding: 5px;
}
.buttons .btn {
    margin: 2%;
}
canvas {
    width: 95%;
    height: 100%;
    background-color: #fff;
}
.canvasContainer {
    height: 75vh;
    width: 100vw
}
#drawingWidth {
    width: 50px;
    border: none;
}
@media only screen and (min-width: 900px) {
    .buttons {
        float: right;
        width: 20%;
    }
    .buttons .btn {
        display: block;
        width: fit-content;
    }
    canvas {
        width: 75%;
        height: 100%;
    }
}